# Файлы сборки
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst

# Папки компиляции и вывода (обязательно со слэшем)
obj/
Debug/
Release/
bin/

# Настройки среды (индивидуальные для вашего ПК)
.settings/
.vscode/
*.launch

# Системный мусор
*.log
Thumbs.db
